@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Figtree', sans-serif;
}
.container {
  height: 100%;
  display: grid;
  grid-template-rows: 40px 1fr 6fr;
}

.nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 10px;
  gap: 30px;
}

.nav img {
  height: 1.3rem;
}

.nav img:hover {
  transform: scale(110%);
  transform: rotateZ(22deg);
}

.hero {
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 1.3em;
  margin-top: 25px;
  margin-bottom: 25px;
}
.heroContent>* {
  margin: 0;
}
.heroContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.heroContent ul {
  list-style: none;
  padding: 0;
}

ul li img {
  height: 20px;
  margin-right: 5px;
}

.hero>img {
  max-height: 15rem;
  max-width: 100%;
  border-radius: 20px;
  border: 5px solid rgb(22, 22, 22);
}
.buttons {
  display: flex;
  gap: 20px;
}
.buttons a img {
  height: 40px;
}




.panels {
  overflow: hidden;
  display:flex;
  border-top: 5px solid rgb(22, 22, 22);
  gap: 20px;
}

.panel {
  color: white;
  text-align: center;
  align-items: center;
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s,
    opacity 0.5s,
    filter 0.4s;
  font-size: 2rem;
  background-size: cover;
  background-position: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-end;
  filter: saturate(0%);
}

.panel1 { background-image:url("../assets/lofi.jpg");}
.panel2 { background-image:url("../assets/surf.jpg"); }
.panel3 { background-image:url("../assets/ask-giphy.png"); }
.panel4 { background-image:url("../assets/lofi.jpg"); }
.panel5 { background-image:url("../assets/lofi.jpg"); }

.saturate{
  filter: saturate(100%);
}

.panel:hover {
  opacity: 100%;
  filter: saturate(1);
}

.panel p {
  text-transform: uppercase;
  color: white;
  margin: 0;
  background-color: rgb(22, 22, 22);
  width: 100%;
  padding: 10px 0 10px 0;
}

a{
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  transform:scale(90%);
}

.panel a img {
  height: 40px;
  filter: invert(100%);
}
.panel a img:hover {
  transform: scale(110%);
  transform: rotateZ(22deg);
}

.panel.open {
  flex: 5;
}

li {
  cursor:default;
  font-weight: bold;
}


span {
  visibility: hidden;
  font-weight: normal;
}

.open {
  visibility: visible;
}